<div class="container">
    <h1>Detalles del Cliente</h1>
   
    <a href="#" routerLink="/client" class="btn btn-primary">Regresar</a>
    <div>
        <strong>ID:</strong>
        <p>{{ client.id }}</p>
    </div>

    <div>
        <strong>Nombre:</strong>
        <p>{{ client.nombre }}</p>
    </div>
    
    <div>
        <strong>Apellidos:</strong>
        <p>{{ client.apellidos }}</p>
    </div>
    
    <div>
        <strong>Direccion:</strong>
        <p>{{ client.direccion }}</p>
    </div>

    <div>
        <strong>Tel:</strong>
        <p>{{ client.tel }}</p>
    </div>
    
</div>